{% include 'coreApp/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Kode Pendiidikan</td>
                            <td>{{pendidikan.kd_pendidikan}}</td>
                        </tr>
                        <tr>
                            <td>Nama Pendidikan</td>
                            <td>{{pendidikan.nama_pendidikan}}</td>
                        </tr>
                        <tr>
                            <td>Jurusan</td>
                            <td>{{pendidikan.jurusan}}</td>
                        </tr>
                        <tr>
                            <td>Tingkat Pendidikan</td>
                            <td>{{pendidikan.tingkat_pendidikan}}</td>
                        </tr>
                        <tr>
                            <td>Tahun Lulus</td>
                            <td>{{pendidikan.tahun_lulus}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-body">
                    <h5 style="text-align: center;">Are you sure ??</h5>
                    <form method="POST" action="{% url 'pendidikan-delete' pendidikan.id %}">
                        {% csrf_token %}
                        <a style="float: right;" class="btn btn-warning" href="{% url 'pendidikan' %}">Cancel</a>
                        <input class="btn btn-danger" type="submit" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}